<div class="view">
    <div class="float-left">
    <label *ngIf="!isEditing" (dblclick)="isEditing=true">{{todo.title}}</label>
    <input (blur)="isEditing=false" *ngIf="isEditing" [(ngModel)]="todo.title">
    <p *ngIf="todo.description!=''">{{todo.description}}</p>
</div>
    <div class="float-right">
        <button type="button" (click)=editTodo(todo) class="btn btn-outline-primary btn-sm">Edit</button>
        <br/>
        <button type="button" (click)= deleteTodo(todo) class="btn btn-outline-danger btn-sm">Delete</button>
        <br/>
        <select name="status" [(ngModel)]="todo.status">
            <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
          </select>
    </div>
    

    
</div>